streamlit==1.48.0

langchain==0.3.27
langchain-community==0.3.27

sentence-transformers==5.1.0

lancedb==0.24.3

pypdf==6.0.0

python-dotenv==1.1.1

pandas==2.3.2

numpy==2.3.2

crewai==0.152.0

ollama==0.5.3

lancedb

sentence-transformers

pyarrow